.benefits {
  margin-top: var(--reduct-section-space);
  margin-bottom: var(--reduct-section-space);
}

.benefit {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.benefitIcon {
  margin-bottom: 1rem;
  color: "white";
}
