.benefits {
  margin-top: var(--reduct-section-space);
}

.benefit {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5rem;
}

.benefitIcon {
  margin-bottom: 1rem;
  width: 15em;
}
