.sdkSection{
  margin-top: var(--reduct-section-space);
  margin-bottom: var(--reduct-section-space);
}

.sdkIcons {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.sdkIcon {
  display: inline-block;
  color: var(--ifm-color-primary);
  transition: color 0.2s ease-in-out;
}

.sdkIcon:hover {
  color: var(--ifm-color-primary-hover);
}
