.commentsContainer {
  text-align: center;
  margin-top: 2rem;
  padding: 1rem;
  background-color: var(--reduct-surface-0);
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.discourseTitle {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
}
