.form {
  position: relative;
  margin: auto;
  max-width: 700px;
  width: 100%;
  padding: 20px;
  border-radius: 8px;
  border: 1px solid #ddd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.countdown {
  margin-bottom: 20px;
  margin-top: 20px;
}

.form p {
  width: 100%;
  text-align: left;
}

.inputGroup {
  width: 100%;
  text-align: left;
}

.inputGroup label {
  display: block;
  margin-bottom: 5px;
}

.inputGroup input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 10px;
}

.inputGroup input:focus {
  outline: none;
  border: 2px solid var(--ifm-color-primary);
}

.buttonGroup {
  width: 100%;
  text-align: left;
  margin: 20px 20px;
}

.button--primary {
  background-color: var(--ifm-color-primary);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

.button--primary:disabled {
  background-color: #ddd;
  cursor: not-allowed;
}

.privacyPolicy {
  color: var(--ifm-color-primary);
  text-decoration: none;
  text-align: left;
  width: 100%;
}

.checkboxGroup {
  width: 100%;
  text-align: left;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

.checkboxLabel {
  display: flex;
  gap: 0.5rem;
  align-items: flex-start;
  font-size: 0.85rem;
  line-height: 1.4;
}

@media (max-width: 600px) {
  .helpForm {
    padding: 10px;
    margin: 10px;
  }

  .inputGroup input {
    padding: 8px;
  }

  .button--primary {
    width: 100%;
    padding: 10px 0;
  }

  .buttonGroup {
    text-align: center;
  }

  .privacyPolicy {
    text-align: center;
  }
}
