.useCaseRow {
  margin-bottom: 60px;
}

.textSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

}

.imageSection {
  display: flex;
  justify-content: center;
  align-items: center;
}

.imageSection img {
  max-width: 600px;
}

@media (max-width: 997px) {
  .useCaseRowLeft {
    flex-direction: column-reverse;
  }
}
