.introSection {
  display: flex;
  gap: 2rem;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-bottom: 1.5rem;
  justify-content: space-between;
  font-size: 1.1rem;
}

.introText {
  max-width: 500px;
  flex: 1 1 300px;
  margin: 0;
}
