.introSection {
  display: flex;
  gap: 1.5rem;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-bottom: 1rem;
  justify-content: space-between;
}

.introText {
  max-width: 500px;
  flex: 1 1 20rem;
  margin: 0;
  font-size: var(--reduct-font-size-subtitle);
}
