.section {
  padding-top: var(--reduct-section-space);
  padding-bottom: var(--reduct-section-space);
  text-align: center;
  background-color: var(--reduct-surface-1);
}

.section p {
  margin: 2rem auto;
  max-width: 80%;
}
