.form {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: auto;
  width: 100%;
  max-width: 500px;
  padding: 30px;
  border-radius: 8px;
  border: 1px solid #ddd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background: linear-gradient(
    45deg,
    var(--reduct-background-gray-light),
    var(--reduct-background-gray-light) 20%,
    var(--reduct--background-white) 20%,
    var(--reduct--background-white) 80%,
    var(--reduct-background-gray-light) 80%,
    var(--reduct-background-gray-light)

  );
}

.formTitle {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
}

.inputButtonContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  max-width: 400px;
}

.inputGroup {
  flex-grow: 1;
  text-align: left;
}

.inputGroup input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.inputGroup input:focus {
  outline: none;
  border: 2px solid var(--ifm-color-primary);
}

.buttonGroup {
  margin-left: 20px;
}

.thankYouMessage {
  font-size: 0.8rem;
  font-weight: 600;
  height: 20px;
  color: green;
}
