.noMarginBottom {
  margin-bottom: 0;
}

.benefitsList {
  margin-top: 1rem;
  list-style-type: none;
  padding: 0;
}

.benefitsList li {
  display: flex;
  align-items: center;
  margin-bottom: 0.5em;
}

.benefitsList li svg {
  margin-right: 0.5em;
}
