.benefitsList {
  list-style-type: none;
  padding: 0;
}

.benefitsList li {
  display: flex;
  align-items: center;
  margin-bottom: 0.5em;
}

.benefitsList li svg {
  margin-right: 0.5em;
}

.form {
  margin: 2em 1em;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  margin-top: 2.5rem;
  margin-bottom: 2rem;
}