.features {
  margin-top: var(--homepage-section-space);
  margin-bottom: var(--homepage-section-space);
}

.feature {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feature-icon {
  margin-bottom: 1rem;
  color: "white";
}
