.roboticsSection {
  padding: 2rem 0;
}

.row {
  display: flex;
  align-items: center;
}

.roboticsImage {
  display: block;
  width: 100%;
  height: auto;
}

.phone {
  display: none;
  max-width: 420px;
  margin: 0 auto;
}

.btn {
  margin-top: 1rem;
}

@media (max-width: 996px) {
  .row {
    flex-direction: column-reverse;
  }

  .desktop {
    display: none;
  }

  .phone {
    display: block;
  }
}
