.alert {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

.container {
  text-align: center;
  max-width: 700px; 
  margin: 0 auto; 
}

h3 {
  margin-bottom: 20px;
}

p {
  margin-bottom: 40px;
}

.WaitingListForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

@media (max-width: 768px) {
  .container {
    padding: 20px; 
  }

  .alert {
    padding: 20px;
  }

  p {
    margin-bottom: 30px;
  }
}
