.testimonials {
  margin-top: var(--reduct-section-space);
  margin-bottom: var(--reduct-section-space);
  text-align: center;
}

.testimonialImage {
  max-width: 125px;
  height: auto;
  margin-bottom: 1rem;
  border-radius: 50%;
}

.message {
  font-style: italic;
  margin-bottom: 1rem;
}

.authorInfo {
  text-align: right;
}

.authorName {
  font-weight: bold;
}
