.testimonials {
  margin-top: 5rem;
  margin-bottom: 5rem;
  overflow: hidden;
}

.testimonialsWrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.testimonialsTrack {
  display: flex;
  align-items: flex-start;
  width: max-content;
  animation: scroll 120s linear infinite;
  animation-play-state: running;
}

.testimonialCard {
  /*  */
}

.message {
  font-style: italic;
  font-size: 0.9rem;
  margin-bottom: 1rem;
  color: var(--ifm-color-content);
}

.authorInfo {
  font-size: 0.8rem;
}

.authorName {
  font-weight: bold;
  color: var(--ifm-font-color-base);
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
