.section {
  margin-top: var(--reduct-section-space);
  margin-bottom: var(--reduct-section-space);
}

.sectionTitle {
  margin-bottom: 2rem;
  text-align: center;
}
.useCasesContainer{
  max-width: 1200px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 60px;
  margin-bottom: 50px;
}
