.architectureSection {
  margin: 4rem 0;
  display: flex;
  justify-content: center;
}

.architectureImage {
  width: min(900px, 100%);
  margin: 0 auto;
  display: block;
}

.architectureImage img {
  width: 100%;
  height: auto;
}

@media (max-width: 768px) {
  .architectureSection {
    margin: 2rem 0;
  }
}
