.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 500px;
  width: 100%;
}

.inputGroup {
  display: flex;
  width: 100%;
}

.emailInput {
  flex-grow: 1;
  padding: 12px;
  border: 2px solid #ddd;
  border-radius: 6px;
  margin-right: 0.5rem; 
}

.emailInput:focus {
  outline: none;
  border-color: var(--ifm-color-primary);
}

.privacyText {
  margin-top: 0.5rem;
  font-size: 0.9rem;
  text-align: left;
}

.privacyLink {
  color: var(--ifm-color-primary);
  text-decoration: none;
}

@media (max-width: 997px) {
  .form {
    align-items: center; 
    text-align: center;
    margin: 0 auto;
  }

  .inputGroup {
    flex-direction: column;
    width: 100%;
  }

  .emailInput {
    width: 100%;
    margin-right: 0;
    margin-bottom: 1rem;
  }

}
