.useCaseCard {
  width: 300px;
}

.useCaseCard :global(.card__image) {
  height: 160px;
  overflow: hidden;
}

.useCaseCard :global(.card__image) img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
