.section {
  margin-bottom: var(--reduct-section-space);
  display: flex;
  flex-direction: row;
  align-items: center;
}

.benefit {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.benefitIcon {
  margin-bottom: 1rem;
  width: 15em;
}

.tabs {
  flex-wrap: wrap;
  justify-content: center;
}

.tabContent {
  padding: 1rem;
  margin-bottom: var(--reduct-section-space);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tabContent p {
  color: var(--reduct-dimmed-color);
  font-size: 0.8rem;
}
