/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.headerContent {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}

.headerLogo {
  margin-right: 1rem;
  width: 50px;
  margin-bottom: 1rem;
}

.heroTitle {
  margin-bottom: 1rem;
}

.heroSubTitle {
  margin-bottom: 3rem;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttons :last-of-type {
  margin-left: 1rem;
  color: white !important;
}

.buttons :last-of-type:hover {
  background-color: var(--ifm-color-primary-lighter);
}

.indexCtasGitHubButtonWrapper {
  display: flex;
}