/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.heroTitle {
  margin-bottom: 1rem;
}

.heroSubTitle {
  margin-bottom: 3rem;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.buttonLeft * {
  width: 200px;
}

.buttonRight * {
  width: 200px;
}

@media screen and (max-width: 600px) {
  .heroBanner {
    padding-top: 2rem;
  }
  .heroTitle {
    font-size: 2.2rem;
  }
  .heroSubTitle {
    font-size: 1rem;
  }
  .buttonContainer {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
}
