.banner {
  background-image: repeating-linear-gradient(
    45deg,
    var(--reduct-surface-1-light),
    var(--reduct-surface-1-light) 20px,
    var(--reduct-surface-0) 20px,
    var(--reduct-surface-0) 40px
  );
  width: 100%;
  padding: 25px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bannerText {
  display: flex;
  flex-direction: row;
  gap: 50px;
  align-items: center;
  font-size: 1.4rem;
}

.bannerText a {
  cursor: pointer;
  font-weight: bold;
}

@media (max-width: 600px) {
  .bannerText {
    flex-direction: column;
    gap: 20px;
  }
}
