.banner {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  background-color: white;
  color: #000;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border: 0.1rem solid var(--ifm-color-primary-lighter);
  border-radius: 5px;
  animation:
    slide-in 0.5s forwards,
    overshoot 0.5s 0.5s forwards;
  z-index: 1000;
}

@keyframes slide-in {
  from {
    bottom: -100%;
  }
  to {
    bottom: 80px;
  }
}

@keyframes overshoot {
  0% {
    bottom: 80px;
  }
  100% {
    bottom: 20px;
  }
}

.closeButton {
  background: none;
  border: none;
  color: #666;
  font-size: 24px;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  padding-right: 10px;
  padding-top: 5px;
}

.bannerContent {
  display: flex;
  align-items: center;
}

.image {
  height: 107px;
  margin-right: 15px;
  border: 1px solid var(--ifm-color-primary-lighter);
  border-radius: 5px;
}

.textBlock {
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 12px;
  color: #666;
}

.subtitle {
  font-size: 16px;
  margin-bottom: 10px;
}
