.consultationBanner {
  background-color: var(--reduct-background-gray);
  padding: 20px;
  border: 1px solid var(--reduct-background-gray-hover);
  border-radius: 5px;
  text-align: center;
  margin-top: 30px;
}

.title {
  font-size: 1.5rem;
  color: var(--ifm-color-primary);
  margin-bottom: 10px;
}

.subtitle {
  font-size: 1rem;
  color: var(--reduct-dimmed-color);
  margin-bottom: 20px;
}

.bookButton {
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}

.bookButton:hover {
  background-color: var(--ifm-color-primary-hover);
}
