.cliSection {
  margin-top: var(--reduct-section-space);
  margin-bottom: var(--reduct-section-space);
}

.cliAnimation {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  justify-content: center;
}

.mobileImage {
  max-width: 90%;
}

.row {
  display: flex;
  align-items: center;
}