.section {
  margin-top: var(--reduct-section-space);
  margin-bottom: var(--reduct-section-space);
}

.sectionTitle {
  margin-bottom: 2rem;
  text-align: center;
}
.buttonContainer {
  display: flex;
  justify-content: center;
  margin-top: 2.5rem;
}

.buttonContainer a {
  width: 300px;
}
