.pricingTable {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2em; 
  align-items: flex-start;
}

.plan {
  border: 3px solid #ccc;
  padding: 1em;
  border-radius: 20px;
  max-width: 300px;
}

.highlight {
  border-color: var(--ifm-color-primary);
}

.planCard {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: left;

}

.categorySeparator {
  margin-top: 1em;
  margin-bottom: 0;
  border-top: 1px solid #ccc;
}

.planTitle {
  margin-bottom: 0.5rem;
}

.subtitle {
  color: var(--reduct-dimmed-color);
}

.underlinedText {
  text-decoration: underline;
  cursor: help;
}

.category {
  margin-bottom: 15px;
}

.categoryTitle, .categoryDescription {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.categoryTitle {
  color: var(--reduct-dimmed-color);
}

.infoIcon {
  margin-left: 5px;
  vertical-align: middle;
  cursor: help;
  color: var(--reduct-dimmed-color);
}

.tooltipContent {
  max-width: 200px;
  word-wrap: break-word;
}

.termsGroup {
  margin-top: 16px;
}

.boldLink {
  font-weight: bold;
}

.errorMessage {
  display: none;
  color: #cc0033;
  font-size: 12px;
}

.error .errorMessage {
  display: block; 
  margin-bottom: -2em;
}

.freePlanDisclaimer {
  margin-top: 1em;
  font-size: 0.8em;
  color: var(--reduct-dimmed-color);
}

/* price tag */
.priceContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.originalPrice {
  font-size: 1.5em;
  font-weight: bold;
  color: var(--ifm-color-danger);
  position: relative;
  top: -10px;
  right: 5px;
}

.originalPrice::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px; 
  background-color: var(--ifm-color-danger);
  top: 50%;
  left: 0;
  transform: rotate(-20deg);
  transform-origin: center;
}

.price {
  font-size: 1.3em;
  font-weight: bold;
  justify-content: center;
}

.priceUnit {
  font-size: 1em;
  color: var(--reduct-dimmed-color);
  margin-left: 5px;
}