.helpForm {
  margin-bottom: var(--reduct-bottom-page-margin);
  max-width: 700px;
  width: 100%;
  padding: 20px;
  border-radius: 8px;
  border: 1px solid #ddd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.errorMessage {
  color: red;
  margin-bottom: 20px;
}

.inputGroup {
  margin-bottom: 10px;
}

.textarea {
  resize: none;
}

.inputGroup label {
  display: block;
  margin-bottom: 5px;
}

.inputGroup input,
.inputGroup textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 10px;
}

.inputGroup input:focus,
.inputGroup textarea:focus {
  outline: none;
  border: 2px solid var(--ifm-color-primary);
}

.inputGroup p {
  margin-bottom: 10px;
}

.topicButtons {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
}

.topicButtons button {
  padding: 10px 15px;
  border: 1px solid #ddd;
  border-radius: 20px;
  cursor: pointer;
}

.topicButtonSelected {
  background-color: var(--ifm-color-primary);
  color: white;
}

.privacyPolicy {
  margin-top: 20px;
}

.checkboxGroup {
  width: 100%;
  text-align: left;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

.checkboxLabel {
  display: flex;
  gap: 0.5rem;
  align-items: flex-start;
  font-size: 0.85rem;
  line-height: 1.4;
}
