.helpForm {
  margin-bottom: var(--reduct-bottom-page-margin);
  max-width: 700px;
  width: 100%;
  padding: 20px;
  border-radius: 8px;
  border: 1px solid #ddd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  /* Ensures the container doesn't collapse while the form loads */
  min-height: 400px;
}
