.pricingTable {
  margin-top: 4em;
  margin-bottom: 4em;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 2em;
  justify-content: center;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.plan {
  border: 3px solid #ccc;
  border-color: #ccc;
  padding: 1em;
  border-radius: 20px;
  width: 100%;
  display: grid;
  grid-template-rows: auto auto auto 1fr;
  gap: 1em;
}

.highlight {
  border-color: var(--ifm-color-primary);
}

.planCard {
  display: grid;
  grid-template-rows: subgrid;
  grid-row: 1 / -1;
  gap: inherit;
}

.planHeader {
  display: flex;
  flex-direction: column;
}

.featuresContainer {
  display: grid;
  grid-template-rows: repeat(11, auto);
  gap: 8px;
  align-content: start;
}

.categorySeparator {
  margin-top: 1em;
  margin-bottom: 0;
  border-top: 1px solid #ccc;
}

.card__body {
  display: grid;
  grid-template-rows: repeat(11, auto);
  gap: 8px;
  align-content: start;
}

.planTitle {
  margin-bottom: 0.5rem;
}

.subtitle {
  color: var(--reduct-dimmed-color);
}

.underlinedText {
  text-decoration: underline;
  cursor: help;
}

.category {
  margin-bottom: 12px;
}

.categoryTitle {
  display: flex;
  align-items: flex-start;
  margin-bottom: 5px;
  color: var(--ifm-color-content);
  line-height: 1.4;
}

.infoIcon {
  margin-top: 0.3em;
  margin-left: 5px;
  vertical-align: top;
  cursor: help;
  color: var(--reduct-dimmed-color);
}

.featureIcon {
  margin-right: 8px;
  flex-shrink: 0;
  width: 1.2em;
  height: 1.2em;
  display: inline-block;
}

.categoryTitleContent {
  display: flex;
  align-items: flex-start;
  line-height: 1.4;
}

.tooltipContent {
  max-width: 200px;
  word-wrap: break-word;
}

.termsGroup {
  margin-top: 16px;
}

.boldLink {
  font-weight: bold;
}

.errorMessage {
  display: none;
  color: #cc0033;
  font-size: 12px;
}

.error .errorMessage {
  display: block;
  margin-bottom: -2em;
}

.freePlanDisclaimer {
  margin-top: 1em;
  font-size: 0.8em;
  color: var(--reduct-dimmed-color);
}

/* Modal */
.form {
  margin: 2em 1em;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 1em;
}

.buttonContainer button {
  white-space: normal;
}
