.tabs {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: wrap;
}

.tabContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.tabContent p {
  color: var(--reduct-dimmed);
  font-size: 0.8rem;
}
