.whitePaperContainer {
  padding-top: 1rem;
  margin-bottom: var(--reduct-bottom-page-margin);
}

/* Bullet Points */
.bulletTitle {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.bulletPoints {
  list-style: none;
  margin-left: 2rem;
  margin-bottom: 1rem;
  padding: 0;
}

.subBulletPoints {
  list-style: none;
  margin-left: 2rem;
  margin-bottom: 1rem;
  padding: 0;
}

.subBulletPoints .bulletPointItem {
  display: flex;
  align-items: center;
}

.subBulletPoints .bulletIcon {
  margin-right: 0.5rem;
}

/* Form column */
.formColumn {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;
  padding-left: 2rem;
}

@media (max-width: 996px) {
  .formColumn {
    padding-left: 0;
    margin-top: 2rem;
  }
}
