.whitePaperContainer {
  padding-top: 1rem;
  margin-bottom: var(--reduct-bottom-page-margin);
}

/* Bullet Points */
.bulletTitle {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.bulletPoints {
  list-style: none;
  margin-left: 2rem;
  margin-bottom: 1rem;
  padding: 0;
}

.subBulletPoints {
  list-style: none;
  margin-left: 2rem;
  margin-bottom: 1rem;
  padding: 0;
}

.subBulletPoints .bulletPointItem {
  display: flex;
  align-items: center;
}

.subBulletPoints .bulletIcon {
  margin-right: 0.5rem;
}

/* button */
.readNowBtn {
  width: 100%;
  margin: 2rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* form */
.formWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 100%;
}

/* Image */
.imageWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 470px;
}

.image {
  background-color: red;
  height: auto;
  border: 2px solid #dddddd;
  border-radius: 10px;
}
