name: Test examples from documentation

on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, synchronize, reopened, closed]
    branches:
      - main

jobs:
  test_examples:
    runs-on: ubuntu-latest
    name: Test examples
    strategy:
      matrix:
        example: [python, rust, golang, curl, cpp, node, cli]
        doc_version: [next, 1.18.x, 1.17.x]
        include:
          - doc_version: next
            image: reduct/enterprise:main
            example_root: docs/examples

          - doc_version: 1.18.x
            image: reduct/store:v1.18.3
            example_root: versioned_docs/version-1.18.x/examples

          - doc_version: 1.17.x
            image: reduct/store:v1.17.10
            example_root: versioned_docs/version-1.17.x/examples

          - example: python
            cmd: python3
            path_prefix: py/src

          - example: node
            cmd: node
            path_prefix: js/src

          - example: curl
            path_prefix: curl
            cmd: sh

          - example: cpp
            path_prefix: cpp/build/bin
            cmd: sh -c

          - example: rust
            path_prefix: rs/build/bin
            cmd: sh -c

          - example: cli
            path_prefix: cli
            cmd: sh

          - example: golang
            path_prefix: go/src
            cmd: go run

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true
          lfs: true

      - name: Login Docker
        run: docker login -u "${{ secrets.DOCKER_USER }}" -p "${{ secrets.DOCKER_TOKEN }}"

      - name: Install reduct-cli
        run: |
          wget https://github.com/reductstore/reduct-cli/releases/latest/download/reduct-cli.x86_64-unknown-linux-gnu.tar.gz
          tar -xvf reduct-cli.x86_64-unknown-linux-gnu.tar.gz
          chmod +x reduct-cli
          sudo mv reduct-cli /usr/local/bin
          reduct-cli --version

      - name: Prepare ReductStore instance with data
        run: |
          docker pull ${{ matrix.image }}
          docker run -d --name reductstore-init -p 8384:8383  ${{ matrix.image }}
          sleep 3
          reduct-cli cp https://reductstore@play.reduct.store/replica/datasets  http://my-token@127.0.0.1:8384/example-bucket --limit 100

      - name: Install Python
        uses: actions/setup-python@v5
        if: matrix.example == 'python'
        with:
          python-version: "3.10"

      - name: Install Node.js
        uses: actions/setup-node@v4
        if: matrix.example == 'node'
        with:
          node-version: 20

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable
        if: matrix.example == 'rust'
        with:
          toolchain: ${{ vars.MINIMAL_RUST_VERSION }}

      - name: Install Go
        if: matrix.example == 'golang'
        uses: actions/setup-go@v4
        with:
          go-version: 1.22
          check-latest: true

      - name: Install Python dependencies
        if: matrix.example == 'python'
        run: |
          pip install -r ${{ matrix.example_root }}/${{ matrix.path_prefix }}/../requirements.txt

      - name: Install Node.js dependencies
        if: matrix.example == 'node'
        run: |
          git clone https://github.com/reductstore/reduct-js.git
          cd reduct-js
          yarn install
          yarn run tsc
          cd ..
          yarn add ./reduct-js # install reduct-js as a package

      - name: Install Go dependencies
        if: matrix.example == 'golang'
        run: |
          cd ${{ matrix.example_root }}/${{ matrix.path_prefix }}/..
          go get -u all

      - name: Build C++ examples
        if: matrix.example == 'cpp'
        run: |
          export EXAMPLE_DST_PATH="$PWD/${{ matrix.example_root }}/${{ matrix.path_prefix }}"

          mkdir -p "$EXAMPLE_DST_PATH"
          cd "$EXAMPLE_DST_PATH"/..
          cmake -DCMAKE_BUILD_TYPE=Debug ..
          make -j

      - name: Build Rust examples
        if: matrix.example == 'rust'
        run: |
          export EXAMPLE_DST_PATH="$PWD/${{ matrix.example_root }}/rs/build"
          mkdir -p "$EXAMPLE_DST_PATH"
          cd "$EXAMPLE_DST_PATH"

          cargo install --examples --root . --path "$EXAMPLE_DST_PATH"/..

      - name: Run examples
        run: |
          set -e -x
          cd ${{ matrix.example_root }}
          for example in $(find ${PWD}/${{ matrix.path_prefix }} -type f -not -path "*/.*");
          do
            if [ "${{ matrix.example }}" = "golang" ] && [[ "$example" == *"data_replication_mode.go" ]]; then
              echo "Skip $example (replication mode not supported in current Go SDK)"
              continue
            fi

            echo '${{secrets.LICENSE_KEY}}' > ./license.lic

            IS_ZENOH=0
            if [[ "$example" == *"/zenoh_"*".py" ]]; then
              IS_ZENOH=1
              docker run --init -d --name zenoh-router --network=host eclipse/zenoh
              sleep 2
            fi

            if [ "$IS_ZENOH" -eq 1 ]; then
              docker run -d --network=host -v ${PWD}:/misc \
                  --name reductstore \
                  --env RS_LOG_LEVEL=debug \
                  --env RS_API_TOKEN="my-token"  \
                  --env RS_LICENSE_PATH=/misc/license.lic \
                  --env RS_ZENOH_ENABLED=1 \
                  --env RS_ZENOH_CONFIG="mode=client;connect=tcp/127.0.0.1:7447" \
                  --env RS_ZENOH_SUB_KEYEXPRS="**" \
                  --env RS_ZENOH_QUERY_KEYEXPRS="**" \
                  "${{ matrix.image }}"
            else
              docker run -d  -v ${PWD}:/misc \
                  --name reductstore -p 8383:8383 \
                  --env RS_LOG_LEVEL=debug \
                  --env RS_API_TOKEN="my-token"  \
                  --env RS_LICENSE_PATH=/misc/license.lic "${{ matrix.image }}"
            fi

            sleep 1
            reduct-cli cp http://my-token@127.0.0.1:8384/example-bucket  http://my-token@127.0.0.1:8383/example-bucket --limit 100
            reduct-cli bucket create http://my-token@127.0.0.1:8383/bucket-to-remove
            reduct-cli bucket create http://my-token@127.0.0.1:8383/bucket-to-rename
            reduct-cli replica create http://my-token@127.0.0.1:8383/example-replication  example-bucket http://my-token@127.0.0.1:8383/bucket-to-remove
            reduct-cli replica create http://my-token@127.0.0.1:8383/repl-to-remove  example-bucket http://my-token@127.0.0.1:8383/bucket-to-remove
            reduct-cli replica create http://my-token@127.0.0.1:8383/my_replication example-bucket http://my-token@127.0.0.1:8383/bucket-to-remove
            reduct-cli token create http://my-token@127.0.0.1:8383/token-to-remove
            curl -X POST -H "Authorization: Bearer my-token" -d "" http://127.0.0.1:8383/api/v1/b/bucket-to-remove/example-entry?ts=1
            curl -X POST -H "Authorization: Bearer my-token" -d "" http://127.0.0.1:8383/api/v1/b/example-bucket/entry_1?ts=1

            echo "Run $example"
            (cd ${{ matrix.path_prefix }}/.. && ${{ matrix.cmd }} "$example")
            sleep 1
            # remove alias if it is cli example
            if [ "${{ matrix.example }}" == "cli" ]; then
              reduct-cli alias rm local || true
            fi

            docker stop reductstore
            docker rm reductstore
            if [ "$IS_ZENOH" -eq 1 ]; then
              docker stop zenoh-router
              docker rm zenoh-router
            fi
          done
      - name: Print Docker logs
        if: failure()
        continue-on-error: true
        run: |
          docker logs reductstore

  test_provisioning:
    runs-on: ubuntu-latest
    name: Test provisioning
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true
          lfs: false
      - name: Run provisioning examples
        run: |
          for example in $(find docs/examples/provisioning -type f );
          do
            docker compose -f $example up -d
            docker compose -f $example down
          done
